# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Serveur BRi/.idea/
Serveur BRi/Serveur BRi.iml

Programmeur de services/.idea/
Programmeur de services/Programmeur de services.iml

Amateur de services/.idea/
Amateur de services/Amateur de services.iml

